<div class="container">      
  <div class="post">      
    <div class="post-meta">
      <p>March 6th, 2012</p>            
    </div>  
    <div class="post-content">
      <h4><a ng:href="#/blog/on-blogging/" title="On Blogging.">On Blogging.</a></h4>
      <p>When I was a much younger developer; I often wondered quite actively why the older developers around me were not embracing blogging. I felt that it was this excitig new technology that would change how we communicated. I wrote, and often felt that the seemingly wiser, older tech stars had much more to say than myself. So I stopped writing.</p><p>Flash-forward to <span class="strong">Age 30</span> year, and I think of a quote:</p><blockquote>'The silence depressed me. It wasn't the silence of silence. It was my own silence.'<br>-- Sylvia Plath, 'The Bell Jar'</blockquote><p>More and more often I meet younger developers that have questions, with a yearn for truly satisfying knowledge. I may now speak.</p>
    </div> 
  </div>    
</div>