
* {
  padding: 0;
  margin: 0;  
}

body {
  margin: 80px;
  font-family: 'Georgia';
  font-size: 18px;
  line-height: 26px;
  color: #111;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #000;  
}

h1 {
  font-size: 72px;
}

h1 a {
  border: none;
}

a {
  color: #000;
}

#container {
  width: 700px;
  margin: 0 auto 0 auto;
}

#header {
  margin-left: 60px;
  width: 640px;
}

#header h4 {
  margin-top: 50px;
}

#content {
  width: 700px;
}

#content {
  margin-top: 50px;
}

#content p {
  color: #555;
  font-size: 18px;
  line-height: 32px;
}

a.title {
  background: #000;
  color: #fff;
  padding: 2px 5px 2px 5px;  
}

a.title:hover {
  background: #555;
}

/* EOF */