<div class="entrance">
  <div class="entrance-item">
    <h2>About</h2>
    <p>- My name is <span class="strong">Edward Hotchkiss</span> and I'm a <span class="italic">Software Engineer</span> and <span class="italic">Entrepreneur</span> based in NYC. My work with startups focuses on <span class="strong">Node.js</span>, <span class="strong">MongoDB</span> and other emerging technologies.</p>
  </div>
  <div class="entrance-item">
    <h2>Contact</h2>
    <p><a id="email" title="Email Me" href="mailto:edwardhotchkiss@me.com">edwardhotchkiss@me.com</a></p>
  </div>
  <div class="entrance-item">
    <h2>Blog Posts</h2>
    <ul>
      <% page.list.map(function(page) { %>
        <li>
          - <span><%= page.date %></span> &raquo; <a href="<%= page.url %>"><%= page.title %></a>
        </li>
      <% }) %>
    </ul>
  </div>
  <div class="entrance-item">
    <h2>Notable Code</h2>
    <ul>
      <li>
        - <a class="track" href="https://github.com/edwardhotchkiss/short">Short</a> &raquo; <span class="italic">Node.JS URL Shortener backed by Mongoose.JS w/ Examples.</span>
      </li>
      <li>
        - <a class="track" href="https://github.com/edwardhotchkiss/github3">Github3</a> &raquo; <span class="italic">Node.JS GitHub API (v3) Wrapper.</span>
      </li>
       <li>
        - <a class="track" href="https://github.com/edwardhotchkiss/always">Always</a> &raquo; <span class="italic">CLI Tool to run a Node.JS Process, Restarting on File Changes &amp; Crashes</span>
      </li>
       <li>
        - <a class="track" href="https://github.com/edwardhotchkiss/mongodb-viewer">MongoDB Viewer</a> &raquo; <span class="italic">Node.JS MongoDB web-based Admin/Viewer Tool</span>
      </li>
    </ul>
  </div>
</div>
