
#container
  h1
    a(href="/", title="Home") EdwardHotchkiss
      span Developer
  ul
    li
      a(href="http://www.linkedin.com/in/edwardhhotchkiss") &raquo; LinkedIn
    li
      a(href="https://github.com/edwardhotchkiss") &raquo; GitHub
    li
      a(href="https://twitter.com/#!/kisshotch") &raquo; Twitter
    div(style="clear:both")