html
  head
    title Edward Hotchkiss, Developer
    meta(name="title", content="Edward Hotchkiss, Developer")
    meta(name="description", content="Edward Hotchkiss, Developer")
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="/css/style.css")
  body
    != body
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(type="text/javascript", src="/javascripts/app.js")
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28085919-3']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();