
div#upload
  h2 Upload Image
  p PNG Only
  form(action="/upload", enctype="multipart/form-data", method="post")
    div#d1
      input#fileUploadBtnReplacement(type="button", value="Browse")
    div#d2
      input#fileUploadBtn(type="file", name="upload")
    div#d3
      input(type="submit", class="green", value="Upload")