
* {
  margin: 0;
  padding: 0; 
}

html {
  height: 100%; 
}

body { 
  background: url(../images/bg.png) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Tahoma;
  font-size: 18px;
}

a {
  text-decoration: none;
}

h1 a {
  letter-spacing: -1px;
  font-size: 48px;
  text-transform: uppercase;
  text-shadow: #cbcbcb 0 1px 1px;
  color: #787878;
}

h1 a span {
  color: #505050;
}

p {
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 18px;
}

/* inputs(s) */

input {
  font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
  font-size: 11px;
}

input#contact-btn {
  margin-top: 30px;
  background-color: #ff0000;
  box-shadow: 0 0 8px #fff;
  padding: 7px 8px 7px 8px;
  width: 150px;
}

input[type=button], input[type=submit] {
  -moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
  -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
  box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
  cursor: pointer;
  font-weight: bold;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  position: relative;
  /* blue */
  background: #0095cd;
  background: -webkit-gradient(linear,left top,left bottom,from(#00adee),to(#0078a5));
  background: -moz-linear-gradient(top,#00adee,#0078a5);
  -pie-background: linear-gradient(top,#00adee,#0078a5);
  border: none;
  color: #fff;
  text-shadow: 0 1px 1px #000;
}

input[type=button]:hover, input[type=submit]:hover, input[type=button]:focus, input[type=submit]:focus {
  background:#007ead;
  background:-webkit-gradient(linear,left top,left bottom,from(#0095cc),to(#00678e));
  background:-moz-linear-gradient(top,#0095cc,#00678e);
  -pie-background:linear-gradient(top,#0095cc,#00678e);
}

#container {
  width: 800px;
  position: absolute;
  top: 30px;
  left: 30px;
}

#container ul {
  list-style: none;
  margin-top: 30px;
}

#container li {
  position: relative;
  float: left;
  width: auto;
  font-weight: bold;
  margin-right: 15px;
}

#container li a {
  color: #787878;
  text-shadow: #fff 0 1px 1px;
}

/* donttazemebro */

#donttazemebro {
  width: 600px;
  position: relative;
  margin: 0 auto 0 auto;
  margin-top: 200px;
}

#donttazemebro p {
  text-align: center;
}

/* EOF */