<!DOCTYPE html>
<html>
<head>
  <title>Edward Hotchkiss</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="title" content="Edward Hotchkiss">
  <meta name="description" content="Senior Architect at IngkLabs">
  <meta name="keywords" content="edward, hotchkiss, kisshotch, ingk, labs, nodejs, node.js" />
  <link rel="shortcut icon" href="/layout/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/layout/style.css" type="text/css" />
</head>
<body>
  <div id="github">
    <a href="http://github.com/edwardhotchkiss/edwardhotchkiss.github.com/">
      <img src="/layout/github.png" alt="Fork me on GitHub">
    </a>
  </div>
  <div id="container">
    <div id="header">
      <h1><a href="/" title="Home">Edward Hotchkiss</a></h1>
      <h4>
        * Senior Architect at  
        <a href="http://ingk.com/" title="Ingk Labs" class="em">IngLabs</a> in 
        <a href="http://www.google.com/maps?q=101+5th+Avenue,+New+York,+NY&hl=en&ll=40.738689,-73.991761&spn=0.00904,0.02105&sll=37.0625,-95.677068&sspn=38.638819,86.220703&vpsrc=0&hnear=101+5th+Ave,+New+York,+10003&t=m&z=16&iwloc=A" title="Google Maps: Ingk Labs">NYC</a>.
       Find me on <a href="http://github.com/edwardhotchkiss/">GitHub</a> &amp; on Twitter as 
       <a href="http://twitter.com/kisshotch" title="twitter: @kisshotch">@kisshotch</a>. 
       Looking to email me? <a href="mailto:e@ingk.com">e@ingk.com</a>.
      </h4>
    </div>
    <div id="content">
      <h3>Blog Posts</h3>
      {{posts}}
    </div>
  </div>
</body>
</html>
