<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Edward Hotchkiss, {{ page.title }}</title>
  <meta name="author" content="Edward Hotchkiss" />
  <meta name="title" content="Edward Hotchkiss, Software Engineer" />
  <meta name="description" content="My name is Edward Hotchkiss and I'm a Software Engineer and Entrepreneur based in NYC. My work with startups focuses on Node.js, Angular.js and other emerging technologies" />
  <meta property="og:title" content="Edward Hotchkiss, Developer"/>
  <meta property="og:image" content="http://edwardhotchkiss.com/assets/images/edward.jpg"/>
  <meta property="og:site_name" content="Edward Hotchkiss, Developer"/>
  <meta property="og:description" content="My name is Edward Hotchkiss and I'm a Software Engineer and Entrepreneur based in NYC. My work with startups focuses on Node.js, Angular.js and other emerging technologies" />
  <meta property="og:url" content="http://edwardhotchkiss.com/"/>
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="/assets/css/style.css"/>
</head>
<div id="github">
  <a href="http://github.com/edwardhotchkiss/edwardhotchkiss.github.com/", title="http://github.com/edwardhotchkiss/edwardhotchkiss.github.com/">
    <img src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67", alt="" />
  </a>
</div>
<body>
  <div id="header">
    <ul>
      <li class="title"><a href="/">Edward Hotchkiss, Software Engineer</a></li>
      <li><a target="_blank" title="LinkedIn" href="http://www.linkedin.com/in/edwardhhotchkiss">LinkedIn</a></li>
      <li><a target="_blank" title="GitHub" href="https://github.com/edwardhotchkiss">GitHub</a></li>
      <li><a target="_blank" title="Twitter" href="https://twitter.com/#!/kisshotch">Twitter</a></li>
      <div style="clear:both" />
    </ul> 
  </div>
  <div id="container">
    {{ content }}      
  </div>
  <script type="text/javascript">var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28085919-3']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>